*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family:sans-serif
}

body{
    color: white;
    font-size: 16px;
    background: linear-gradient(to left, rgb(83, 72, 83), rgb(70, 27, 27));
    font-family: sans-serif;
}

.navbar{
    background-color: rgb(32, 32, 32);
    width: 100%;
    height: auto;
}

.navbar a{
    font-size: 350%;
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

.navbar a:hover{
    color: gray;
}

.tinybar{
    background-color: rgb(136, 136, 136);
    width: 100%;
    height: 5px;
}

.mainbackground{
    width: 100%;
    height: 850px;
    background-image: url(../afbeeldingen/achtergrond.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.mainbackground div{
    width: 50%;
    height: 300px;
    z-index: -0;
}

.mainbackground div h2{
    font-size: 10px;
}

.mainbackground div h4{
    font-size: 50px;
}

.mainbackground *{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(42, 42, 42);
}

.HomeButton{
    color: rgb(164, 208, 255);
}

/*article{
    text-decoration-color: white;
}*/

.logo{
    width: 95px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
}

.logo :hover{
    transform: scale(1.2);
}

.collage{
    width: 100%;
    height: 1000px; 
}

.collage div{
    width: 200%;
    height: 200%;
    background-image: url(../afbeeldingen/Controller.png);
    background-size: 100px;
    z-index: -1;
    opacity: .5;
    transform: rotate(20deg);
}